# SAVE AS .env
VUE_APP_TITLE="Aru Learning"
VUE_APP_API_URL=http://localhost:8000/
VUE_APP_GOOGLE_CLIENT_ID=137089915960-7ef6hfug036p67h2um71d836lhr2m508.apps.googleusercontent.com
VUE_APP_FACEBOOK_APP_ID=464428027473692
